<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringDeepDiveApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" activateToolWindowBeforeRun="false" nameIsGenerated="true">
    <option name="envFilePaths">
      <option value="$PROJECT_DIR$/.env" />
    </option>
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <option name="INCLUDE_PROVIDED_SCOPE" value="false" />
    <module name="spring-deep-dive" />
    <selectedOptions>
      <option name="environmentVariables" />
    </selectedOptions>
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.learning.spring_deep_dive.SpringDeepDiveApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>